@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

*,
html {
	font-family: "Source Code Pro", monospace;
	font-size: 62.5%;
}
body {
	margin: 0;
	padding: 0;
}

header {
	background-color: #f0f0f0;
	padding: 40px 20px;
	text-align: center;
}

h1 {
	font-size: 3.2rem;
	font-weight: 600;
}

p {
	font-size: 1.6rem;
	margin-top: 20px;
}

main {
	padding: 20px;
	text-align: center;
}

a.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
	border: 1px solid #007bff;
	border-radius: 5px;
	font-size: 1.6rem;
	margin-top: 20px;
}

a.button:hover {
	background-color: #0056b3;
}

footer {
	background-color: #f0f0f0;
	padding: 15px 0;
	text-align: center;
}
