<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Open Graph (OG) Meta Tags for Social Media Sharing -->
		<meta property="og:title" content="Title of App" />
		<meta property="og:description" content="Description of App" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="Your_URL_Here" />

		<!-- Replace with the appropriate URL -->
		<meta property="og:image" content="Your_Image_URL_Here" />

		<!-- Replace with the appropriate image URL -->
		<meta property="og:site_name" content="Name of App" />
		<meta property="og:locale" content="ES" />
		<meta property="article:author" content="Author Name/App Name" />
		<meta property="article:published_time" content="Published Date" />

		<!-- Metadata for character set, language, description, subject, copyright, date, keywords, and viewport -->
		<meta charset="UTF-8" />
		<meta name="language" content="ES" />
		<meta name="description" content="Description of App" />
		<meta name="subject" content="Subject of App" />
		<meta name="copyright" content="Name of Company" />
		<meta name="date" content="Date of App" />
		<meta name="news_keywords" content="Keywords for Search Engines" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Favicon and Stylesheet links -->
		<link rel="shortcut icon" type="image/ico" href="/img/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="../css/reset.css" media="all" />
		<link
			rel="stylesheet"
			type="text/css"
			href="../css/final_challenge.css"
			media="all"
		/>
		<title>Final Challenge - Memory Code</title>
	</head>
	<body>
		<header>
			<h1>Memory Code</h1>
		</header>

		<main>
			<h2>Final Challenge: Type with your eyes closed!</h2>
			<p>
				You've come this far, and it's time for the ultimate test. Can you type the
				snippet with your eyes closed? When you're ready, close your eyes and type
				the snippet below.
			</p>

			<!-- The snippet is not displayed here on purpose for the challenge -->

			<form action="/submit_final_challenge" method="post">
				<label for="user_attempt_final">Code Snippet:</label>
				<textarea
					id="user_attempt_final"
					name="user_attempt_final"
					rows="10"
					cols="50"
					placeholder="Close your eyes & start typing..."
					required
				></textarea>
				<br />
				<input type="submit" value="Build Typing Memory" />
			</form>
		</main>

		<footer>
			<p>&copy; 2023 Memory Code. All rights reserved.</p>
		</footer>

		<!-- Add link to JavaScript file here if needed -->
	</body>
</html>
